$text-color: rgb(28, 36, 70);

.left-menu {
  flex: 1.5;
  position: sticky;
  top: 5px;
  left: 0;
  height: calc(100vh - 5px);
  left: 0;
  z-index: 1;
  padding-right: 10px;

  // color: $text-color;

  .left-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 1rem;
    background-color: rgb(48, 49, 58);
    height: calc(100vh - 2.5rem);
    width: 105%;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.071);
    color: white;

    .top {
      display: flex;
      align-items: center;
      gap: 5px;
      h3 {
        font-size: 15px;
      }
      img {
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .menu-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-right: 2rem;
      .menu {
        display: flex;
        align-items: center;
        gap: 1rem;
        .item {
          color: rgb(255, 255, 255);
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: grey;
          }
        }
      }
    }
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-align: center;
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        color: rgb(0, 0, 0);
        color: white;
        background-color: rgb(57, 163, 220);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: rgb(128, 0, 128);
          color: white;
        }
      }
    }
  }
}
