$text-color: rgb(28, 36, 70);

.left-menu {
  flex: 1.5;
  position: sticky;
  top: 5px;
  height: calc(100vh - 5px);
  left: 0;
  z-index: 1;
  color: $text-color;

  .left-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 2.5rem);
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.071);

    .top {
      display: flex;
      align-items: center;
      gap: 5px;
      h3 {
        font-size: 15px;
      }
      img {
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 1rem;
      .item {
        color: black;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: grey;
        }
      }
    }
    .link {
      a {
        text-align: center;
        width: 10rem;
        padding: 0.5rem 1rem;
        border: solid 1px rgba(128, 0, 128, 0.412);
        color: rgb(53, 0, 68);
        background-color: transparent;
        border-radius: 999px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: purple;
          color: white;
        }
      }
    }
  }
}
